@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
}

.swal-text {
    text-align: center;
}

.account-info__picture{
	max-width: 250px;
}

.account-info__sidebar__list{
	list-style: none;
}

.account-info__sidebar__list-item{
	cursor: pointer;
	margin-left: -25px;;
	color: #007bff;
	transition: margin-left .35s ease-in-out;
}

.account-info__sidebar__list-item--active{
	margin-left: -15px;
	font-weight: bold;
}

.product-btn-container{
	border: 2px solid grey;
}

.product-link{
	cursor: pointer;
}

.watchlistCardBtn{
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	padding: .25rem .75rem;
	line-height: 1;
	cursor: pointer;
	border-radius: 10px 0 10px 10px;
	transition: background-color .35s ease-in-out;
}

.watchlistCardBtn:hover{
	background-color: rgb(0,0,0,.3);
	/*background-color: -webkit-linear-gradient(top right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,.25) 100%);
	background-color: -o-linear-gradient(top right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,.25) 100%);
	background-color: linear-gradient(to bottom left, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,.25) 100%);*/
}




@media (min-width: 576px){
	.modal-dialog{
		max-width: 600px;
	}
}